* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', sans-serif;
  background-color: #121212;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  min-height: 100vh;
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  background-color: #1f1f1f;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-wrap: wrap; /* Permite que os itens se ajustem automaticamente em várias linhas */
  justify-content: center; /* Centraliza os itens dentro do container */
  padding-bottom: 40px; /* Adiciona espaço extra abaixo dos itens */
}
.container .item {
  margin: 10px; /* Adiciona espaçamento entre os itens */
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Cria 3 colunas */
  gap: 20px;
  margin-top: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #292929;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

figure {
  width: 100%;
  margin-bottom: 10px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  max-height: 420px;
}

figcaption {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #b3b3b3;
}

.audio-player {
  margin-top: 10px;
  width: 100%;
}

audio {
  width: 100%; /* O player de áudio ocupa 100% da largura disponível */
}

footer {
  background-color: #1f1f1f;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  border-top: 1px solid #292929;
  margin-top: 40px; /* Espaço extra acima do footer */
}

.footer-content p {
  margin: 10px 0;
  color: #b3b3b3;
  font-size: 0.9rem;
}

.footer-content a {
  color: #4db8ff;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}